body {
  background-color: #FFDAC7;
  text-align: center;
}
hr {
border-color: grey;
border-width: 5px;
border-style: dotted none none;
width:10%;
}

h1 {
color: #810034;
font-family: fantasy;
}

h3 {
  color: #810034;
  font-family: Times;
}

div {
  height: auto;
  width: auto;
  padding: auto;
}

.A {
  height: auto;
  width: auto;
  padding: auto;
  border: solid 20px;
  margin: 20px;
}

.B {
  height: auto;
  width: auto;
  padding: auto;
  border: solid 20px;
  margin: 20px;
}

.C {
  height: auto;
  width: auto;
  padding: 10px;
  border: solid 20px;
  margin: 10px;
}

#table {
  margin: 0 auto 0 auto;
}
